#dashboard {
    position: relative;
    padding: 1rem;
    width: 100%;

    @media (min-width: 900px) {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    & > .nav {
        background-color: #f5f5f5;
        border: 1px solid #eaeaea;
        margin-bottom: 1.5rem;

        @media (min-width: 900px) {
            width: 300px;
            flex-shrink: 0;
        }

        & > a {
            border-bottom: 1px solid #eaeaea;
            padding: 8px 25px;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: color ease .15s;

            &:hover {
                color: var(--primary-color);
            }

            .svg-wrapper {
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    & > .content {
        width: 100%;
        min-height: 50vh;
    }
}
