p {
    margin-bottom: 0;
    margin-top: 0;
}

#main {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#create-msg {
    width: 50%;
    padding: 1%;
    border: 1px solid grey;
}

#create-msg > .create {
    display: flex;
    flex-direction: column;
}

#create-msg > .create > label {
    margin-bottom: 1%;
}

#create-msg > .create > #msg {
    padding: 1%;
    margin-bottom: 1%;
}

#create-msg > .create > input[type="submit"] {
    width: 15%;
    height: 40px;
    border: 1px solid blue;
    background-color: #adadff;
}
#create-msg > .create > input[type="submit"]:hover {
    cursor: pointer;
}

#create-msg > .share { display: none;
    /*display: flex;*/
    flex-direction: column;
    margin-top: 5%;
    margin-left: 3%;
}

#create-msg > .share > .disclaimer {
    margin-bottom: .5%;
}

#create-msg > .share > .row {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 1%;
    border: 1px solid grey;
}

#create-msg > .share > .row > .link {
    margin-right: auto;
}

#create-msg > .share > .row > .copy-link {
    width: 24px;
    margin-left: auto;
    margin-right: 1%;
}
#create-msg > .share > .row > .copy-link:hover {
    cursor: pointer;
}

#create-msg > .share > .row > .follow-link {
    width: 24px;
    margin-left: 1%;
    margin-right: 0;

}
#create-msg > .share > .row > .follow-link:hover {
    cursor: pointer;
}

#create-msg > .share > .notifier { display: none;
    font-style: italic;
    margin-top: .5%;
}


#view-msg { display: none;
    width: 50%;
    padding: 1%;
    border: 1px solid grey;
}

#view-msg > .msg-decoded {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

#view-msg > a {
    margin-left: 5%;
}
